<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (users.length > 0) { %>
                    <div class="grid">
                        <% for (let user of users) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= user.email %>
                                    </h1>
                                </header>
                                <div class="card__content">
                                    <h2 class="product__price">
                                        Role: <%= user.role %>
                                    </h2>
                                </div>
                                <div class="card__actions">
                                    <input type="hidden" value="<%= user._id %>" name="userId">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <% if (user.isBlocked) { %>
                                        <button class="btn blockUserButton danger" type="button">
                                            Unblock user
                                        </button>
                                    <% } else { %>
                                        <button class="btn blockUserButton" type="button">
                                            Block user
                                        </button>
                                    <% } %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs') %>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>
            <script src="/js/fetch.js"></script>